<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
</head>
<body>

<div class="container">
    {% if is_jp_valid %}
        <h1>Jobs!</h1>
        {% if latest_job_list %}
            <ul>
            {% for job in latest_job_list %}
                <li><a href="{{ job.url }}/">{{ job.company }}: {{ job.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No jobs are available.</p>
        {% endif %}
    {% else %}
        <h1>Bad Job Provider Data - Try Again mutha!</h1>
    {% endif %}
</div>
</body>
</html>