<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
</head>
<body>

<div class="container">
    {% if is_jp_valid %}
        <h1>Jobs!</h1>
        {% if latest_job_list %}
            <table class="table table-hover table-condensed">
                <thead class="bold">
                    <tr>
                        <th>ss*</th>
                        <th>company</th>
                        <th>position</th>
                        <th>location</hd>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in latest_job_list %}
                        <tr>
                            <td>{{ job.score }}</td>
                            <td>{{ job.company }}</td>
                            <td><a href="{{ job.url }}">{{ job.title }}</a></td>
                            <td>{{ job.location }}</td>
                            <td>{{ job.snippet }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No jobs are available.</p>
        {% endif %}
    {% else %}
        <h1>Bad Job Provider Data - Try Again mutha!</h1>
    {% endif %}
</div>
</body>
</html>